beautifulsoup4>=4.7.1
colorama>=0.3.9
docopt>=0.6.2
google_api_python_client>=1.7.8
halo>=0.0.18
httplib2>=0.11.3
keyring>=15.0.0
lxml>=4.2.5
nameparser>=1.0.3
plac>=1.0.0
Pypubsub>=4.0.0
requests>=2.21.0
setuptools>=41.0.1
termcolor>=1.1.0
urllib3>=1.24.1
validators>=0.12.3
wxPython>=4.0.3
